<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Такси Эълонлар</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_announcement' %}">Янги Эълон</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'announcement_list' %}">Менинг Эълонларим</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'channel_list' %}">
                            <i class="bi bi-broadcast"></i> Каналлар
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Чиқиш</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Кириш</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>