<nav class="navbar navbar-expand-lg">
    <div class="nav_container">
        <a class="navbar-brand fw-bold text-dark" href="/">Codefy</a>

        <!-- Theme switcher -->
        <div class="theme-switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        <!-- Mobile version only shows Login or Logout button -->
        <div class="d-lg-none">
            {% if user.is_authenticated %}
                <a class="nav-link logout-link" href="{% url 'logout' %}">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
            {% else %}
                <a class="nav-link login-link" href="{% url 'login' %}">
                    <i class="bi bi-person"></i> Login
                </a>
            {% endif %}
        </div>

        <div class="collapse navbar-collapse justify-content-end d-none d-lg-flex" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_announcement' %}">
                            <i class="bi bi-plus-circle"></i> Add Announcement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'announcement_list' %}">
                            <i class="bi bi-megaphone"></i> My Announcements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'channel_list' %}">
                            <i class="bi bi-broadcast"></i> Channels
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout-link" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link login-link" href="{% url 'login' %}">
                            <i class="bi bi-person"></i> Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>